<div class="container mt-5">
    <!-- Example Form with JSON Serialization -->
    <form x-post="/submit" x-serialize="json" x-target="#form" x-action="submit">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Submit</button>
    </form>
</div>