{{ with .Data.rickrolled }}
    {{ . }}
{{ else }}
    {{ range $k, $v := .Data.Rows }}
        <div class="row" x-params='{"ID": {{ $v.ID }}}'>
            <div class="col-sm">
                {{ $v.ID }}
            </div>
            <div class="col-sm">
                {{ $v.Name }}
            </div>
            <div class="col-sm">
                {{ $v.Desc }}
            </div>
        </div>
    {{ end}}
{{ end }}

