{{/*
@model Todo github.com/donseba/go-partial/examples/todo.Todo
*/}}
<aside id="todo-detail" class="panel detail">
    <span class="status">{{ if Todo.Done }}Done{{ else }}Open{{ end }}</span>
    <h2>{{ Todo.Title }}</h2>
    <p class="meta">Priority: {{ Todo.Priority }}</p>
</aside>
